# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Large Data & Datasets (Excluded)
data/
xray/data/
test_images/
static/uploads/*
!static/uploads/.gitkeep

# Model Weights (Small enough for GitHub)
# (Excluded .pth ignore so model can deploy)
scratch/

# OS
.DS_Store
Thumbs.db
